@import './colors.scss';

.authorization {
  &-wrapper {
    width: 100%;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-title {
    font-size: 2rem;
    font-weight: 600;
    color: $blue-600;
    text-align: left;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  &-space-between {
    align-self: flex-start;
    padding-left: 2rem;
    margin-top: 2rem;
  }  

  &-form {
    &-wrapper {
      width: 100%;
      max-width: 40rem;
      height: fit-content;
      display: flex;
      flex-direction: column;
      padding: 2rem 3rem;
      border-radius: 0.6rem;
      justify-content: center;
      align-items: center;
      box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.1);
      background-color: $white;
      margin-bottom: 5rem;

      form {
        width: 80%;
        margin: auto;
      }
    }

    &-logo {
      align-self: center;
      height: 5rem;
    }
  }

  &-input {
    width: 100%;
    margin-bottom: 1.5rem;
    padding: 1rem 1.2rem;
    border: 1px solid $gray-300;
    background-color: $white;
    border-radius: 1.2rem;
    color: $gray-800;
    font-size: 1.4rem;

    &-label {
      font-size: 1.4rem;
      color: $gray-800;
      margin-bottom: 0.5rem;
      text-align: center;
    }

    &-link {
      font-size: 1.4rem;
      color: $blue-600;
      margin-top: 1rem;
      margin-bottom: 0.7rem;
    }
  }

  &-submit {
    &-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    &-button {
      width: fit-content;
      border: none;
      text-decoration: none;
      background-color: $blue-600;
      color: $white;
      font-size: 1.6rem;
      border-radius: 1.2rem;
      padding: 1.2rem 2rem;
      margin-top: 0.7rem;
    }
  }
}
